/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
    #lightheme {
        filter: invert(1);
    }
}

.equal {
    display: -webkit-flex;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/
header.site-header {
    background: $clr-darkblue;
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: $clr-white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

header.site-header.sticky {
    background: #001934cf;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 14px 0;
    position: fixed;
}

.site-logo img {
    width: 100%;
    max-width: 200px;
}

.site-nav a {
    padding: 8px 8px !important;
    display: inline-block;
    font-size: 17px;
    color: $clr-white;
    font-weight: 500;
    transition: all 0.2s linear;

    &:hover {
        transform: translateY(5px);
    }
}

.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}

a.menu.active {
    border-bottom: 1px solid #fff;
    color: $clr-white !important;
}

.closed-menu a {
    font-size: 50px !important;
}

/*header end*/

/*banner-css-start*/
section.homebanner {
    position: relative;
    padding: 250px 0;
    background-image: url(../images/homebanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    object-fit: cover;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

.home__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2;
    width: 100%;
    max-width: 65%;
    margin: 0 auto;
    text-align: center;

    p {
        font-size: 18px;
        line-height: 26px;
    }
}


/*banner-css-end*/

/*homecard-css-start*/
section.homecard {
    padding: 50px 0;
}

section.homecard.cuisine {
    padding: 20px 0 0 0;
}

.homecard {
    &__text {
        p {
            font-size: 16px;
            line-height: 25px;
            color: $clr-black;
            margin: 8px 0;
        }
    }
}

.end__content {
    padding: 50px 0;

    p {
        font-size: 16px;
        line-height: 25px;
        color: $clr-black;
        margin-top: 10px;
    }
}

.homemain__part {
    h3 {
        margin-bottom: 10px;
    }

    p {
        color: $clr-black;
        font-size: 16px;
        line-height: 25px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            inset: 0;
            background-color: $clr-darkblue;
            height: 7px;
            width: 7px;
            border-radius: 10px;
            top: 10px;
            left: -15px;

        }
    }
}

.homemain {
    &__picture {
        img {
            height: 500px;
            object-fit: cover;
            max-width: 560px;
            border-radius: 8px;
            width: 100%;
            transition: all .3s linear;

            &:hover {
                filter: grayscale(1);
            }
        }
    }

    &__part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

/*homecard-css-start*/

/*footer-css-start*/
.footer {
    background: $clr-darkblue;
    padding: 50px 0;

    &__social {
        i {
            color: $clr-white;
            font-size: 25px;
            line-height: 40px;
            border: 1px solid #fff;
            border-radius: 30px;
            height: 40px;
            width: 40px;
        }

        ul {
            display: flex;
            gap: 15px;
            text-align: center;
        }
    }
}

.footer__social {
    padding: 30px 0;
}

.Useful_link {
    color: $clr-white;

    a {
        &:hover {
            color: $clr-white;
        }
    }
}

.location {
    a:hover {
        color: $clr-white;
    }
}

/*footer-css-end*/

/*hotels-css-start*/
section.hotelbanner {
    position: relative;
    padding: 200px 0 150px 0;
    background-image: url(../images/hotelsbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

.hotelcard {
    padding: 50px 0 0 0;

    p {
        color: $clr-black;
        font-size: 16px;
        line-height: 25px;
        margin: 30px 0;
    }

    &__picture {
        img {
            max-width: 450px;
            height: 450px;
            object-fit: cover;
        }
    }

    &__part {
        max-width: 450px;
        padding: 30px 0;
        margin-left: 55px;

        h3 {
            border-bottom: 1px solid $clr-darkblue;
        }
    }

    &__main {
        display: flex;
        gap: 20px;
    }
}

.hotel-btn a {
    display: inline-block;
    background: $clr-darkblue;
    color: $clr-white;
    font-size: 18px;
    text-align: center;
    padding: 13px 30px;
    border: 1px solid $clr-darkblue;

    &:hover {
        border: 1px solid $clr-darkblue;
        background-color: transparent;
        color: $clr-darkblue;
    }
}

.hotel__numeric {
    font-size: 30px;
}

/*hotels-css-end*/

/*budget-css-start*/
section.budget.budget {
    padding: 50px 0 0 0;
}

section.budgetbanner {
    position: relative;
    padding: 200px 0 150px 0;
    background-image: url(../images/budgetbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

/*budget-css-end*/

/*local-cuisine-css-start*/
section.budget.budget {
    padding: 50px 0 0 0;
}

section.localbanner {
    position: relative;
    padding: 200px 0 150px 0;
    background-image: url(../images/localbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

.slovernia__card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 100%;
    transition: all .3s;
}

.slovernia__destinations {
    height: 100%;

    img {
        width: 100%;
        height: 303px;
        object-fit: cover;
    }
}

.Slovenia__content {
    padding: 20px 20px;

    h3 {
        color: $clr-black;
        font-size: 15px;
        font-weight: 600;
    }

    p {
        color: $clr-black;
        font-size: 16px;
        line-height: 23px;
        text-align: justify;
    }

    a {
        background: $clr-darkblue;
        font-size: 17px;
        color: $clr-white;
        text-decoration: none;
        text-transform: capitalize;
        border: 1px solid;
        padding: 10px 20px;
        border-radius: 5px;

        &:hover {
            background: $clr-darkblue;
            font-size: 17px;
            color: $clr-white;

        }
    }
}

.col-lg-4.col-md-6.col-sm-12.space {
    margin-top: 30px;
}

/*local-cuisine-css-end*/

/*attraction-css-start*/
.attractionbanner {
    position: relative;
    padding: 200px 0 150px 0;
    background-image: url(../images/attractionbanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

/*attraction-css-start*/

/*entertainment-css-start*/
section.entertainmentbanner {
    position: relative;
    padding: 200px 0 150px 0;
    background-image: url(../images/entertainmentbanner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

.homemain__part.entertainment p::before {
    content: none;
}

.homemain__part.entertainment {
    margin: 30px 0 0 0;
}

/*entertainment-css-end*/

/*contactbanner-css-start*/

section.contactbanner {
    padding: 200px 0 150px 0;
    background-image: url(../images/contactbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.contactpart {
    padding: 50px 0;

    p {
        font-size: 16px;
        line-height: 24px;
        color: $clr-black;
    }

    li {
        font-size: 15px;
        font-family: 'Montserrat';
    }
}

span {
    font-family: 'Prata';
    font-size: 17px;
    font-weight: 700;
}

.contact__info {
    padding: 30px 0 0 0;

    h4 {
        font-size: 20px;
        line-height: 35px;
    }
}

/*contactbanner-css-end*/

/*privacy-css-start*/

section.privacybanner {
    position: relative;
    padding: 200px 0 150px 0;
    background-image: url(../images/privacybanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    object-fit: cover;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

/*privacy-css-end*/

/*terms-css-start*/
section.termsbanner {
    position: relative;
    padding: 200px 0 150px 0;
    background-image: url(../images/termsbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

/*terms-css-end*/

/*zabava-css-bet-start*/
.row.casino {
    border: 1px solid;
    padding: 20px 0;
    margin: 20px 0;
}

.homemain__part.casino {
    justify-content: inherit;

    h3 {
        font-size: 24px;
        line-height: 34px;
    }

    p::before {
        display: none;
    }
}

.homemain__picture.casino img {
    height: 210px;
    max-width: 85%;
    object-fit: cover;
}

.hotel-btn.casino {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    a {
        font-size: 16px;
        padding: 13px 18px;
    }
}

/*zabava-css-bet-end*/

	/*cookie start*/
    .cookie-alert {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        margin: 0 !important;
        z-index: 999;
        opacity: 0;
        transform: translateY(100%);
        transition: all 500ms ease-out;
        left: 0;
    }
    .cookie-alert .btn {
        color: #fff;
        background-color: #900a2d;
        border-color: #ffffff;
    }
    
    .cookie-alert.show {
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 1000ms;
    }
    
    /*cookie end*/




/*# sourceMappingURL=style.css.map */